@media (max-width: 1550px) {
    .topBar {
        padding-left: 20px;
        padding-right: 20px;
    }

    .why-mars {
        justify-content: center;
        gap: 55px;
    }

    .title-faq h2 {
        padding-bottom: 80px;
    }

    .about-from-person {
        padding: 130px 25px 76px;
    }
}

@media (max-width: 1300px) {
    .stat-tokens {
        flex-wrap: wrap;
        align-items: stretch;
        padding-left: 20px;
        padding-right: 20px;
    }

    .center-cicle {
        order: 1;
    }

    .left-side {
        order: 2;
    }

    .right-side {
        order: 3;
    }

    .info-roadmap .title-roadmap {
        width: 100%;
    }

    .messengers {
        padding: 0;
        padding-top: 80px;
    }
}

@media (max-width: 480px) {
    .topBar {
        padding-top: 45px;
        padding-left: 0;
        padding-right: 0;
    }


    .header--wrap {
        padding: 0 13px;
        background-image: url(../images/spaceMan.png), url(../images/planets.png);
        background-size: 320px, 415px;
        background-position: left 50% bottom 0, top 15% right -230%;
    }

    .logo {
        margin-right: 0;
        font-size: 48px;
        order: 2;
    }

    .login-btn {
        order: 1;
    }

    .wallet-btn {
        order: 3;
        font-size: 14px;
    }

    .wallet-btn,
    .login-btn {
        padding: 10px;
    }

    .action {
        margin-left: 0;
        padding-bottom: 260px;
    }

    .title {
        padding: 90px 0 30px;
    }

    .title>h1 {
        font-size: 38px;
    }

    .buy-btns>button {
        font-size: 15px;
        padding: 15px 5px 15px 15px;
    }

    .about {
        padding: 65px 13px 60px;
    }

    .title-why {
        width: 100%;
        font-size: 108px;
        background-size: 150px;
        margin-right: 0;
    }

    .descrip-mars {
        padding-bottom: 0;
        font-size: 26px;
    }

    .descrip-mars>p {
        text-align: center;
    }

    .about-items {
        padding: 0 13px;
        gap: 16px;
    }

    .about-items>.item {
        width: 100%;
    }

    .about-from-person {
        flex-direction: column-reverse;
    }

    .about-from-person {
        padding: 125px 20px 85px;
    }

    .message-person {
        padding: 60px 30px 55px;
    }

    .tokenomics .title_line {
        padding-top: 400px;
        padding-bottom: 130px;
    }

    .wrap-tokenomics {
        background-size: 300px, 380px, 157px;
        background-position: left 0 top 0, top 0 right -70px, top 22% right 10%;
    }

    .stat-tokens .center-cicle {
        width: 228px;
        height: 228px;
        margin-bottom: 15px;
    }

    .center-cicle::after {
        left: -14%;
        bottom: 5%;
        border: 145px solid transparent;
        border-bottom: 285px solid #D9D9D91C;
    }

    .stat-tokens .center-cicle .title {
        font-size: 18px;
    }

    .stat-tokens .center-cicle>p {
        font-size: 21px;
    }

    .stat-tokens {
        gap: 40px;
    }

    .left-side,
    .right-side {
        gap: 40px;
    }

    .tokenomics {
        padding-bottom: 125px;
    }

    .wrap-roadmap {
        padding: 0 17px;
        padding-bottom: 90px;
    }

    .title-roadmap h2 {
        width: 100%;
        font-size: 78px;
    }

    .info-roadmap .title-roadmap {
        padding-top: 260px;
    }

    .roadmap .planets {
        top: -118px;
        left: -170px;
        width: 86%;
    }

    .roadmap .rocket {
        top: 25px;
        right: -40px;
        width: 70%;
        transform: rotate(25deg);
    }

    .title-roadmap p {
        padding: 0 0 75px;
    }

    .cards-roadmap {
        gap: 17px;
    }

    .roadmap .down-shadow {
        display: none;
    }

    .wrap-community {
        padding: 55px 20px 100px;
    }

    .circle-left-litl,
    .circle-right-litl {
        width: 52px;
        height: 52px;
    }

    .circle-left-dig,
    .circle-right-dig {
        width: 91px;
        height: 91px;
        top: 52px;
    }

    .content-community {
        padding-top: 220px;
    }

    .title-community {
        width: 100%;
        font-size: 58px;
    }

    .text-community {
        font-size: 17px;
    }

    .messengers>a {
        width: 107px;
        height: 107px;
        padding: 25px;
    }

    .messengers .tg>img {
        width: 58px;
        height: 58px;
    }

    .messengers .discord>img {
        width: 78px;
        height: 78px;
    }

    .messengers .tw>img {
        width: 52px;
        height: 52px;
    }

    .faq {
        padding: 30px 0 100px;
    }

    .wrap-faq {
        padding: 0 15px;
    }

    .title-faq h2 {
        font-size: 58px;
        padding-bottom: 40px;
    }

    .content-faq .questions>div {
        width: 100%;
        font-size: 18px;
    }

    .content-faq {
        gap: 7px;
    }

    .content-faq>.right-side {
        width: 100%;
    }

    .faq-spaceman {
        width: 100%;
    }

    .bg-spaceman {
        width: 70%;
        height: 70%;
    }

    .footer {
        padding: 85px 20px 40px;
    }

    .footer-title {
        margin-bottom: 10px;
    }

    .footer-nav {
        padding: 75px 0 65px;
    }

    .footer-nav ul {
        margin: 0;
        padding-inline-start: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer-massegers .tw img {
        width: 53px;
        height: 53px;
    }
}